<h1>Restful Tasks Api</h1>
<button (click)='getTasks()'>Get All Tasks</button>

<div *ngFor="let task of tasks" id="task-list">
  <p>{{task.title}}</p>
  <p id="{{task._id}}">{{task.description}}</p>
  <button (click)='deleteTask(task._id)'>Delete</button>
  <button (click)=' toggleEditForm(task._id, task.title, task.description)'>
      Edit</button>
  <form *ngIf="editTask.id == task._id && editTask.toggle == true" (submit)="updateTask(task._id)">
    <p>Make edits...</p>
    <label for="updatedTask.title">Title:</label>
    <input type="text" name="updatedTask.title" [(ngModel)]="updatedTask.title">
    <label for="updatedTask.description">Description:</label>
    <input type="text" name="updatedTask.description" [(ngModel)]="updatedTask.description">
    <button>Submit</button>
  </form>
</div>


<form (submit)="createTask()">
  <h4>Create: new task!</h4>
  <label for="newTask.title">Title:</label>
  <input type="text" name="newTask.title" [(ngModel)]="newTask.title">
  <label for="newTask.description">Description:</label>
  <input type="text" name="newTask.description" [(ngModel)]="newTask.description">
  <button>Submit</button>
</form>

<!-- {{newTask | json}}
{{updatedTask | json}} -->


